<template>
    <div>
        <div class="product-logo">
            <img src="/images/vw_id3.jpg"/>
        </div>
        <div class="card">
            <div class="card-header">Preorder Confirmation Form</div>
            <div class="card-body">
                <div v-if="validationErrors">
                    <ul class="alert alert-danger">
                        <li v-for="(value, key, index) in validationErrors">{{ value }}</li>
                    </ul>
                </div>
                <div v-if="showSuccessAllert">
                    <div class="alert alert-success">
                        Preorder created successfully!
                    </div>
                </div>
                <div v-if="showErrorAllert">
                    <div class="alert alert-danger">
                        Some error happens on server side.
                        Preorder creation failed.
                    </div>
                </div>
                <form v-on:submit="saveForm()" class="col-lg-8 offset-lg-1">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Name</label>
                        <input type="text" v-model="preorder.name" class="form-control col-md-9">
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Email</label>
                        <input type="text" v-model="preorder.email" class="form-control col-md-9">
                    </div>
                    <div class="row form-group">
                        <button class="btn btn-success col-md-9 offset-md-3">Make Preorder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                preorder: {
                    name: '',
                    email: '',
                },
                validationErrors: false,
                showSuccessAllert: false,
                showErrorAllert: false,
            }
        },
        methods: {
            /**
             * Send post request to save new preorder
             */
            saveForm() {
                event.preventDefault();
                let app = this;
                axios.post('/preorders', app.preorder)
                    .then(function (response) {
                        Object.assign(app, {
                            showSuccessAllert: true,
                            showErrorAllert: false,
                            validationErrors: false,
                            preorder: {
                                name: '',
                                email: '',
                            }
                        });

                    })
                    .catch(function (error) {
                        // if validation error - show messages
                        if (error.response.status === 422) {
                            let errors = Object.values(error.response.data.errors);
                            Object.assign(app, {
                                showSuccessAllert: false,
                                showErrorAllert: false,
                                validationErrors: errors.flat()
                            });
                        } else {
                            Object.assign(app, {
                                showSuccessAllert: false,
                                showErrorAllert: true,
                                validationErrors: false
                            });
                        }
                    });
            }
        }
    }
</script>